        <article class="well">
          <p class="article-information">John Birch <span class="pull-right">Tag, tag, tag</span></p>
          <a href="#"><h2>Title of Article</h2></a>
          <p class="lead">Something something headline of the news article in question</p>
          <a href="#" class="btn btn-link">Read news item</a>
         </article>