 <div class="well">
          <h3>Champions leading the way</h3>
          <p class="lead">More than 400 staff have signed up as Champions to play key roles within the programme</p>
          <p>The Transformation Through Technology Champions will receive in depth training to support their areas and help embed our new ways of working. They will also act as ambassadors within their specialist areas and link with the programme team to help resolve issues and escalate concerns.</p>
          <p>If you would like to find out more about becoming a Transformation ThroughTechnology Champion, please contact your <a href="http://transformation.sth.nhs.uk/team/#COCL">Operational Change Manager (OCM)</a></p>
</div>

