<footer>
    <div class="container">
      <div class="row">
        <p>All rights reserved. Copyright 2015. of Sheffield Teaching Hospitals NHS Foundation Trust unless specified elsewhere <span class="pull-right"><%= link_to "Cookie Policy", "/policy.html" %>    <a href="#">Back to the top</a></span></p>
        <div id="google_translate_element" style="float: right; margin-top: 10px;"></div>
        
        
        
        <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>
    </div>
</footer>