<footer>
    <div class="container">
      <div class="row">
        <p>All rights reserved. Copyright 2015. of Sheffield Teaching Hospitals NHS Foundation Trust unless specified elsewhere <span class="pull-right"><a href="#">Back to the top</a></span></p>
      </div>
    </div>
</footer>