        <div class="well">
          <h3>Further resources</h3>
					<h4>Transformation through Technology Newsletters</h4>
          <ul class="list list-inline">
            
            <li>
              <h4 class="newsletter-header">All - March</h4>
							<% link_to "/files/march_newsletter.pdf" do %>
								<%= image_tag 'news_march_2015.jpg', width: "150" %>
							<% end %>
            </li>
						
						<li>
							<h4 class="newsletter-header">EDMS - Sept</h4>
							<% link_to '/files/edms_newsletter_sept.pdf' do %>
								<%= image_tag 'news_edms_sept.jpg', width: "150" %>
							<% end %>
						</li>
						
						<li>
							<h4 class="newsletter-header">EPR - Sept</h4>
							<% link_to '/files/epr_newsletter_sept.pdf' do %>
								<%= image_tag 'news_epr_sept.jpg', width: "150" %>
							<% end %>
						</li>
						
						<li>
							<h4 class="newsletter-header">CP - Sept</h4>
							<% link_to '/files/cp_newsletter_sept.pdf' do %>
								<%= image_tag 'news_cp_sept.jpg', width: "150" %>
							<% end %>
						</li>
						
				</ul>
        </div>