<section class="news-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
					<%= image_tag 'news_block_one.jpg', class: "pull-right pad-left", width: "160" %>
          <h3>Clinical Portal set to go live this Autumn </h3>
          <p>Sheffield Teaching Hospitals appoint HP Enterprise Services UK to develop new clinical portal to go live in August 2015</p>
          <a href="/t3/news-article.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
					<%= image_tag 'epr-stock.jpg', class: "pull-right pad-left", width: "160" %>
          <h3>Trust given go ahead for new Electronic Patient Record system</h3>
          <p>Five year programme set to get underway at Sheffield Teaching Hospitals NHS Foundation Trust after a successful bid to attract Department of Health funding for a new Electronic Patient Record system</p>
          <a href="/t3/news-article.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>