<div class="well">
  <h2 id="smart-cards">Smart Cards</h2>
	<p>It is estimated that around 4,000 staff need to get a new Smartcard to get secure access to the new systems being implemented as part of Transformation Through Technology.</p>
  <%= image_tag 'id_card.jpg', class: 'pull-left pad-right img-responsive' %>
  <p>The Smartcard team is based in the Hospital of the Future, which is on B floor of the Royal Hallamshire Hospital, in the old Theatre Admissions Unit. Work is also ongoing to identify a suitable location at the Northern General site. Issuing the Smartcard will take approximately 15 to 30 minutes of your time, so please make sure you get yours.</p>
</div>