<div class="well">
  <h2 id="smart-cards">Smart Cards</h2>
	<p>It is estimated that around 4,000 staff need to get a new Smartcard to get secure access to the new systems being implemented as part of Transformation Through Technology.</p>
  <%= image_tag 'id_card.jpg', class: 'pull-left pad-right img-responsive' %>
  
  <h4>Do you have a smartcard?</h4>
  <p>You need your own up-to-date Smartcard to access a number of the systems we will be using in the future. These systems include Lorenzo, our new Electronic Patient Record (EPR), SystmOne, the Electronic Staff Record and Single Sign-On (SSO).</p>
  <p>Smartcards or NHS Care Records Service (CRS) Cards - are not the same as your ID badge or door access cards (see example below).</p>
  <h4>Is it up-to-date?</h4>
  <p>Look at the 10 digit number on the back of the card, if it starts with 05 or 06 it is up to date and compatible with the systems. However, if it begins 03 or 04, it is an older version and will need to be replaced.</p>
  <h4>Does it have a 4 number PIN?</h4>
  <p>Each Smartcard should have an associated 4 number PIN (like a bank card PIN number). If yours has any other password, it will need resetting.</p>
  <p class="important">If you answered ‘No’ to any of the three questions above please contact the Systems Access Team on ext. 15269.</p>
</div>