---
title: "Hospital of the Future opens its doors - Transformation Through Technology"
---

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/t3/index.html">Home</a></li>
        <li><a href="/t3/news.html">News &amp; Events</a></li>
        <li class="active">Hospital of the Future opens its doors</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <article class="well">
          <h2>Hospital of the Future opens its doors</h2>
          <p class="lead">We are one of the first hospitals in the country to have a 'Hospital of the Future' innovation centre - an ideal environment for staff to come and try out our new technology.</p>
					<p>The Hospital of the Future, is based in the old Admissions Assessment Unit, B Floor at the Hallamshire Hospital. It is a fully equipped clinical environment which includes our planned clinical information systems, so staff can experience, influence and familiarise themselves with how care will be delivered and our business will operate in the future.</p>
					<p>It is a showcase environment which recreates the patient pathway and demonstrates how the new Electronic Patient Record, Electronic Document Management System and Clinical Portal will support patient care. Staff are able to see how patient data will flow through the system in practice and how Hospital of the Future opens its doors this could help save time, improve safety and be more efficient.</p>
          <p>The Hospital of the Future has mock A&amp;E, Triage, Ward, Outpatients Clinic and Community settings to demonstrate how the new technology will support care in these areas and how better integration and flow of information between the areas will work.</p>
          <p>Some of our systems validation and staff training will also take place in our new Hospital of the Future. We are also inviting our future suppliers to support the facility by using it to demonstrate future technologies.</p>
				</article>
        
        <div class="well">
          <p><a href="#">Training</a> <a href="/t3/news.html" class="pull-right">Back to News &amp; Events</a></p>
        </div>
        <hr>
      </div>
      
      <div class="col-md-4" role="aside"> 
				<%= partial 'partials/contact' %>
        <%= partial 'partials/champion' %>
          
      </div>
      
    </div>
  </div>
</section>