---
title: Clinical Portal (CP)
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Clinical Portal (CP)</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="active">Clinical Portal (CP)</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>What is the Clinical Portal?</h2>
          <p class="lead">The clincal portal is...</p>
          <p>We are also introducing new technology which will extract patient information from a number of different systems to give an overall patient view. This will include letters, discharge notes and, results from the different specialities, giving a richer and easily navigable clinical record.</p>
          <p>Accessed via the SmartCard (and by the <a href="#single-sign-on">single sign on</a>), this will allow clinicians to make better, more informed decisions in delivering patient care.</p>
        </div>
        
        <div class="well">
          <h2 id="single-sign-on">What is "Single Sign On"?</h2>
          <p class="lead">Instead of logging in to numerous patient computer systems, a single sign on facility will give staff access to 19 separate patient information systems with a ‘single sign on’.</p>
          <p>The Single Sign On is being piloted in February within the Haematology department before being rolled out across the Trust from April 2015. ’Sign on’ using face recognition software is also being piloted, and will be introduced if found beneficial.</p>
        </div>
        
        <div class="well">
          <h2>Key benefits</h2>
          <p class="lead">Instead of logging in to numerous patient computer systems, a single sign on facility will give staff access to 19 separate patient information systems with a ‘single sign on’.</p>
          <p>Patients deserve and expect the best care. If we are to remain one of the leading NHS hospital trusts in the country, we need harness this new technology. A clinical portal will make our working lives much easier and give us the information we need to provide better patient care. We need to have a complete picture of each patient. The more information we have, the better the quality of care and treatment we can offer. A clinical portal will give us the ability to access everything we need to know, wherever we are and with one click of a button.</p>
          <blockquote>"Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit"</blockquote>
          
          <p>Patients tell us they want quicker, more joined up care. They do not like having to repeat information about themselves to multiple departments and members of staff. The clinical portal will mean staff do not have to keep asking patients the same questions. Once the information has been inputted into one system, it can be viewed via the clinical portal. Drug information, diagnosis results and other important information about the patient's history will be instantly available across all the different systems, through this new clinical portal. This will vastly improve the overall patient experience within the hospital and when visiting our satellite clinics</p>
        </div>
      </div>
      
      <div class="col-md-4" role="aside">
        <div class="well">
          <h2>Why implement a Single Sign On</h2>
          <p class="lead">The key benefit of ...</p>
          <ul>
            <li>Quicker access to patient information</li>
            <li>Better search facility</li>
            <li>Enables us to securely send and receive patient information between NHS organisations</li>
          </ul>
        </div>
        
        <div class="well">
          <h3>On the lookout for Super Users</h3>
          <p class="lead">Would you be willing to be one of the first people to use our new technology?</p>
          <p>We’re searching for staff to be trained up as Super Users to help with the introduction of the new technology this year. Super Users will get special training to use the Clinical Portal, EPR and EDMS systems before everyone else. They will act as experts in their department to help others, if needed, when we go live.</p>
          <p>To find out more, please contact Kathryn Cox, training lead at <a href="mailto:Kathryn.cox@sth.nhs.uk">Kathryn.cox@sth.nhs.uk</a></p>
        </div>
        
        <div class="well">
          <h3>Contact us</h3>
          <p>introduce the team and phone numbers</p>
        </div>
        
        
        <div class="well">
          <h3>Further resources</h3>
          <p>Links, presentations, videos etc. here</p>
        </div>
      </div>
      
      
    </div>
  </div>
</section>

<section class="news-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <img src="http://placehold.it/150x150" class="pull-right">
          <h3>Title of news article</h3>
          <p class="lead">Summary of the news article or up to date information</p>
          <a class="btn btn-primary">Link to article</a>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
          <img src="http://placehold.it/150x150" class="pull-right">
          <h3>Title of news article</h3>
          <p class="lead">Summary of the news article or up to date information</p>
          <a class="btn btn-primary">Link to article</a>
        </div>
      </div>
    </div>
  </div>
</section>