---
title: Electronic Document Management System
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Electronic Document Management System (EDMS)</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/t3/index.html">Home</a></li>
        <li><a href="/t3/programme.html">About</a></li>
        <li class="active">Electronic Document Management System (EDMS)</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>What is an Electronic Document Management System?</h2>
          <p class="lead">An Electronic Document Management System, or EDMS for short, involves converting patient casenotes</p>
          <p>We are taking the first steps to becoming a paperless organisation. This year we will be scanning and converting casenotes from nine of our Trust medical record libraries and including them in a new Electronic Document Management System (EDMS).</p>
          <blockquote>"Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit"</blockquote>
          <p>Over time, all these notes will be available digitally and the paper casenotes will be destroyed. We will still continue to use paper casenotes when a new patient is admitted. At discharge, these casenotes will be scanned and included in the EDMS. From September 2015 the digital casenotes will be made available as part of the new Electronic Patient Record (EPR) and will be viewed through the Clinical Portal.</p>
          <p>The casenotes will be accessible 24/7 by multiple staff, working in different locations at the same time. This provides a stepping stone towards the Trust becoming completely paperless by 2018.</p>
        </div>
        
        <div class="well">
          <h2>Key Benefits</h2>
          <p class="lead">The main benefit for staff is that...</p>
          <p>Patients deserve and expect the best care. If we are to remain one of the leading NHS hospital trusts in the country, we need to move into the digital age. EDMS will mean we can view patient details at any time and at any location across the Trust, immediately. This is a good thing for our patients and will vastly improve the patient pathway. As other hospitals introduce EDMS, our patients will expect us to do the same</p>
          <img src="http://placehold.it/750x250" class="img-responsive" alt="a large image or quote">
          <p>By providing clinicians with all the information they need, at all times across the Trust, we will improve the patient experience. There will no longer be a need to cancel or delay a patient's visit to hospital because their casenotes are missing. All of the information we know about the patient will be readily available on screen, giving each patient we treat the confidence that we are working on their care in a joined up way.</p>
          <p>We currently have approximately one million patient casenotes in nine libraries across the Trust, a number which is increasing every day. The NHS has committed to being paper-less by 2018. We therefore need to step up the process of converting these notes into electronic records as soon as possible to meet this target. We have been scanning the casenote archive for 20 years to free-up space for new casenotes within the main libraries, but on a much smaller scale than we intend to do in the future. In addition to the nine libraries, there are a number of smaller libraries and file stores within the Trust (e.g. Audiology) that do not form part of the main patient record. These are not included within the initial scope of this project.</p>
          <blockquote>"Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit"</blockquote>
          <p>Currently multiple separate casenotes exist for the same patient due to the number of patient record libraries. Once the casenotes can be accessed electronically, the notes for a patient will be consolidated into a 'single' patient record, thereby improving patient safety. Ultimately the digitised case notes will become part of an overall Electronic Patient Record and will be a single source of patient information. We will have a single source of the truth.</p>
          <p>Patient casenotes need to be stored and transported in a safe and secure environment. EDMS controls access to patient information and so improves auditing.The electronic case note also reduces the likelihood of losing a record.</p>
        </div>
        
      </div>
      
      <div class="col-md-4" role="aside">
				
				<%= image_tag 'staff_edms_web.jpg', class: "img-well-block" %>
				
        <div class="well">
          <h3>Why EDMS?</h3>
          <ul>
            <li>Improve patient care and experience</li>
            <li>Reduce paperwork and costs keeping and maintaining paper system</li>
            <li>Increased patienty safety</li>
            <li>More efficient inter-departmental messaging and collboration</li>
          </ul>
        </div>
        
        <div class="well">
          <h3>On the lookout for Super Users</h3>
          <p class="lead">Would you be willing to be one of the first people to use our new technology?</p>
          <p>We’re searching for staff to be trained up as Super Users to help with the introduction of the new technology this year. Super Users will get special training to use the Clinical Portal, EPR and EDMS systems before everyone else. They will act as experts in their department to help others, if needed, when we go live.</p>
          <p>To find out more, please contact Kathryn Cox, training lead at <a href="mailto:Kathryn.cox@sth.nhs.uk">Kathryn.cox@sth.nhs.uk</a></p>
        </div>
        
        <div class="well">
          <h3>Contact us</h3>
          <p>introduce the team and phone numbers</p>
        </div>
        
        
        <div class="well">
          <h3>Further resources</h3>
          <p>Links, presentations, videos etc. here</p>
        </div>
      </div>
      
      
    </div>
  </div>
</section>

<%= partial '/partials/news_block' %>