---
title: Electronic Document Management System
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Electronic Document Management System (EDMS)</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/t3/index.html">Home</a></li>
        <li><a href="/t3/programme.html">About</a></li>
        <li class="active">Electronic Document Management System (EDMS)</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>What is an Electronic Document Management System?</h2>
          <p class="lead">EDMS involves converting patient casenotes into electronic format so that they can be viewed, moved around and managed electronically on screen.</p>
          <h4>How will it work?</h4>
					<p>We are planning to install a high-tech electronic document management system which will meet our needs and change the way we work. We will be scanning casenotes and then storing the digitised notes within a sophisticated management system that will allow them to be available on screen, when and where they are needed, at the point of care. The casenotes will be accessible 24/7 by different people working in different locations at the same time.</p>
				</div>
        
        <div class="well">
          <h2>Key Benefits</h2>
					<p>Patients deserve and expect the best care. If we are to remain one of the leading NHS hospital trusts in the country, we need to move into the digital age. EDMS will mean we can view patient details at any time and at any location across the Trust, immediately. This is a good thing for our patients and will vastly improve the patient pathway. As other hospitals introduce EDMS, our patients will expect us to do the same.</p>
					<h4>Improving the patient experience</h4>
					<p>By providing clinicians with all the information they need, at all times across the Trust, we will improve the patient experience. There will no longer be a need to cancel or delay a patient's visit to hospital because their casenotes are not available. All of the information we know about the patient will be readily available on screen, giving each patient we treat the confidence that we are working on their care in a joined up way.</p>
					<h4>Going paperless</h4>
					<p>We currently have approximately one million patient casenotes in nine medical records libraries across the Trust, a number which is increasing every day. The NHS has committed to being paper-less by 2018. We therefore need to step up the process of converting these notes into electronic records as soon as possible to meet this target. </p>
					<p>We have been scanning the casenote archive for 20 years to free-up space for new casenotes within the main libraries, but on a much smaller scale than we intend to do in the future. In addition to the nine libraries, there are a number of smaller libraries and file stores within the Trust (e.g. Audiology) that do not form part of the main patient record. These are not included within the initial scope of this project at this stage</p>
					<h4>Improving patient safety</h4>
					<p>Currently multiple separate casenotes exist for the same patient due to the number of patient record libraries. Once the casenotes can be accessed electronically, the notes for a patient will be consolidated into a 'single' patient record, thereby improving patient safety. Ultimately the digitised case notes will become part of an overall Electronic Patient Record and will be a single source of patient information.</p>
					<h4>Security of patient information</h4>
					<p>Patient casenotes need to be stored and transported in a safe and secure environment. EDMS controls access to patient information and so improves auditing.The electronic case note also reduces the likelihood of losing a record.</p>
					<h4>More efficient</h4>
					<p>EDMS promises to save us time searching for notes, transferring notes from one site to another, analysing and comparing notes.</p>
				</div>
				
				<%= partial 'partials/champion' %>
        
      </div>
      
      <div class="col-md-4" role="aside">
				
				<%= image_tag 'staff_edms_web.jpg', class: "img-well-block" %>
				
				<div class="well">
					<h3>Frequently Asked Questions</h3>
					<h5>Has the Trust considered CNS nursing documentation which is currently in separate paper cards/files. How can this all be pulled together?</h5>
					<p>An exercise is underway to confirm all of the clinical documentation used in patient records, to agree how this information will be recorded and stored on implementation.</p>
					<h5>Is EDMS only for patient related documentation or is it for any documentation used within the trust?</h5>
					<p>EDMS is for patient related documentation only.</p>
					<h5>Will we have problems finding things in the new EDMS? When notes are scanned into the EDMS system, will they also be sorted into the various different sections? Or will they be scanned in as one block so that to find a specific entry you have to work through everything?</h5>
					<p>We are working with the Patient Records Committee to agree the structure of notes within the EDMS. An EDMS is similar to paper case notes in that documents can be presented through tabs in the same way that notes within paper files can be, however we can also 'tag' many of the key documents clinicians immediately look for (e.g. Anaesthetic charts for Anaesthetists) so they can be found much more easily than they can on paper. </p>
					<p>We are also investigating whether we can group documents we produce in the future according to the attendance date, whether it was inpatient/outpatient and which consultant the patient was under which should prove very beneficial for clinicians.</p>
					<p>We are currently having the software installed onto some laptops so we can start attending directorate meetings to demonstrate the system fully and explain the process.</p>
				</div>
        
       <%= partial 'partials/contact' %>
        
        <div class="well">
          <h3>Further resources</h3>
          <a href="../files/EDMS_Staff_Briefing.pdf">How would the EDMS system work? - Staff Briefing</a>
        </div>
      </div>
      
      
    </div>
  </div>
</section>

<%= partial '/partials/news_block' %>