---
title: Electronic Patient Record (EPR)
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Electronic Patient Record (EPR)</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="active">Electronic Patient Record (EPR)</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>What is an Electronic Patient Record (EPR)?</h2>
          <p class="lead">Electronic patient records are...</p>
          <p>We are modernising the way we deliver patient care with new technology to record, view and store patient information electronically at all hospital locations, at any time</p>
          <p>Lorenzo will initially replace our current Patient Administration System (Patient Centre). We will then be enhancing this system by adding more medical and nursing content, capturing clinical data.</p>
          <p>At launch in September 2015, Lorenzo will include:</p>
          <ul>
            <li>Admission and discharge of patients in Emergency Department</li>
            <li>Advanced Bed Management</li>
            <li>Electronic prescribing (initially in one or two pilot sites)</li>
            <li>Nurse assessment documentation</li>
          </ul>
          <p>From September 2015 we will have trained 10,000 staff to use Lorenzo as we go live.</p>
        </div>
        
        <div class="well">
          <h2>Key Benefits</h2>
          <p class="lead">Statement introducing the key benefits....</p>
          <p> Patients deserve and expect the best care. If we are to remain one of the leading NHS hospital trusts in the country, we need to have up-to-date and accurate information about our patients. Currently patient information is collected in a number of different ways and using different computer systems. Our systems are limited in what they can do and they don't always work throughout the hospital and community sites. We often have a very disjointed way of collecting and viewing our patient information. The new system will give us a full patient record, available in multiple locations which will improve how we care for our patients.</p>
          <blockquote>"Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit"</blockquote>
          <p>By providing clinicians with all the information they need, at all times across the Trust in a single patient record, we will vastly improve the patient experience. Patients will have the confidence that we are working on their care in a joined up way.</p>
        </div>
      </div>
      
      <div class="col-md-4" role="aside">
        <div class="well">
          <h3>Why invest in Electronic Patient Records? </h3>
          <p>statement....</p>
          </div>
        
        
        <div class="well">
          <h3>On the lookout for Super Users</h3>
          <p class="lead">Would you be willing to be one of the first people to use our new technology?</p>
          <p>We’re searching for staff to be trained up as Super Users to help with the introduction of the new technology this year. Super Users will get special training to use the Clinical Portal, EPR and EDMS systems before everyone else. They will act as experts in their department to help others, if needed, when we go live.</p>
          <p>To find out more, please contact Kathryn Cox, training lead at <a href="mailto:Kathryn.cox@sth.nhs.uk">Kathryn.cox@sth.nhs.uk</a></p>
        </div>
        
        <div class="well">
          <h3>Contact us</h3>
          <p>introduce the team and phone numbers</p>
        </div>
        
        
        <div class="well">
          <h3>Further resources</h3>
          <p>Links, presentations, videos etc. here</p>
        </div>
      </div>
      
      
    </div>
  </div>
</section>

<section class="news-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <img src="http://placehold.it/150x150" class="pull-right">
          <h3>Title of news article</h3>
          <p class="lead">Summary of the news article or up to date information</p>
          <a class="btn btn-primary">Link to article</a>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
          <img src="http://placehold.it/150x150" class="pull-right">
          <h3>Title of news article</h3>
          <p class="lead">Summary of the news article or up to date information</p>
          <a class="btn btn-primary">Link to article</a>
        </div>
      </div>
    </div>
  </div>
</section>