.btn-edms {
  @extend .btn-link;
  border: 2px solid $brand-info;
  color: $brand-info;
  
  &:hover {
    color: saturate($brand-info, 10%);
  }
}

.btn-epr {
  @extend .btn-link;
  border: 2px solid $brand-primary;
  color: $brand-primary;
  
  &:hover {
    color: saturate($brand-primary, 10%);
  }
}

.btn-cp {
  @extend .btn-link;
  border: 2px solid $brand-warning;
  color: $brand-warning;
  
  &:hover {
    color: saturate($brand-warning, 10%);
  }
}