.navbar-brand {
  
  img {
    max-width: 260px;
  }
  
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $brand-primary;
}

.navbar-right .dropdown-menu {
  right: auto;
}

.navbar {
  
  font-size: 17px;
}

.navbar-nav > li > a {
  margin: 11px 2px;
}

.navbar-default {
  
  border-radius: 0px;
}

@media (min-width: 768px){
	.navbar {
  
  font-size: 16px;
	}
}

@media (max-width: 380px){
	
	.navbar-brand {
  
		img {
			padding-top: 10px;
			max-width: 200px;
		}
  
	}
}