.navbar-brand {
  
  img {
    max-width: 150px;
  }
  
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $brand-primary;
}

.navbar-right .dropdown-menu {
  right: auto;
}

.navbar {
  
  font-size: 17px;
}

.navbar-nav > li > a {
  margin: 11px 2px;
}

.navbar-default {
  
  border-radius: 0px;
}