.quote-banner {
  margin-bottom: 15px;
  margin-top: 15px;
  
  .banner {
    
    background-color: #fff;
    padding: 15px 0 0 0;
    
    h2 {
      
      color: $brand-info;
    }
  }
}

.site-banner {
  
  padding: 5px;
  margin-bottom: 15px;
  
  .banner {
    
    h1 {
      
      color: $brand-info;
    }
  }
}

.video-banner {
  
  margin: 15px 0 15px 0;
}

.news-banner {
  
  margin: 15px 0 15px 0;
}

.well {
  
  background-color: #fff;
  border: 0px;
  border-radius: 0px;
}