.quote-banner {
  margin-bottom: 15px;
  margin-top: 15px;
  
  blockquote {
    
    margin: 0;
    font-size: 26px;
		border: none;
    
  }
  
  .banner {
    
    background-color: #fff;
    padding: 15px 0 0 0;
    
    h2 {
      
      color: $brand-info;
    }
  }
}

.site-banner {
  
  padding: 5px;
  margin-bottom: 15px;
  
  .banner {
    
    h1 {
      
      color: $brand-info;
    }
  }
}

.video-banner {
  
  margin: 15px 0 15px 0;
  
}

.news-banner {
  
  margin: 15px 0 15px 0;
  
}

.site-redirect {
  
  margin-bottom: 5px;
  
}

.videos {
  
  h3 {
    
      margin-top: 0px;
      font-size: 22px;
    
  }
  
}

.well-video {
  
  margin-top: -10px;
  
}

.news-banner .well {
  
  min-height: 320px;
  
}


.well {
  
  background-color: #fff;
  border: 0px;
  border-radius: 0px;
	margin-bottom: 12px;
}