.t3-font {
  
  font-family: Impact, Charcoal, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  
  color: $brand-primary;
}

.breadcrumb {
  background-color: inherit;
}

.font-color-secondary {
  
  color: $brand-info;
}

body {
  
  font-family: $font-family-sans-serif;
}

.lead {
  
  font-size: 24px;
}

header {
  
  .page-title {
    margin-left: 15px;
  }
  
}