---
title: 404 - Transformation Through Technology
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Page Not Found - 404</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "/index.html" %></li>
        <li class="active">Page Not Found - 404</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12" role="main">
        <div class="well">
          <p>Sorry there appears to be an error. Check if you mistyped the URL. If you arrived here by a link, please report the incorrect link. If we caused the error please contact the web team via <a href="mailto:andrew.duckworth@sth.nhs.uk">email</a></p>
        </div>
        
        <h3>Recent news</h3>
      </div>
    </div>
  </div>
</section>

<%= partial 'partials/news_block' %>