---
title: Transformation Through Technology
---

<section class="site-banner">
  <div class="container">
    <div class="row banner">
      <div class="col-md-12">
         <img src="http://placehold.it/1200x400" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="site-blocks">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="well">
          <i class="fa fa-file-text fa-5x"></i>
          <h3>Electronic Document Management System (EDMS)</h3>
          <p>Converting patient casenotes into an electronic format so that they can
            be viewed and managed on screen 24/7</p>
          <a href="/t3/programme/edms.html" class="btn btn-edms">Find out more</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">
          <i class="fa fa-calendar-o fa-5x"></i>
          <h3>Electronic Patient Record (EPR)</h3>
          <p>Recording of all patient information electronically on one system. Will
            enable information sharing, electronic prescribing and electronic clinic
            management</p>
          <a href="/t3/programme/epr.html" class="btn btn-epr">Find out more</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">
          <i class="fa fa-globe fa-5x"></i>
          <h3>Clinical Portal (CP)</h3>
          <p>Linking up of all existing computer systems, meaning you only have to log
            in once to view all patient information systems on one screen. Enables
            secure sharing of patient information across the NHS.</p>
          <a href="/t3/programme/cp.html" class="btn btn-cp">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="quote-banner">
  <div class="container">
    <div class="row well banner">
      <div class="col-md-7 col-md-offset-1">
        <blockquote>
          <p><i class="fa fa-quote-left"></i> Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit <i class="fa fa-quote-right"></i></p>
          <footer>David Throssel - Medical Director, Sheffield Teaching Hospitals</footer>
        </blockquote>
      </div>
      
      <div class="col-md-3">
        <img src="http://placehold.it/250x350" alt="image of David Throssel">
      </div>
    </div>
  </div>
</section>

<section class="video-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <iframe width="100%" height="415" src="https://www.youtube.com/embed/gg-8c9MBrjo?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <div class="col-md-6">
        <div class="well">
          <img src="http://placehold.it/650x200" class="img-responsive">
          <h3>Hospital of the future</h3>
          <p class="lead">One liner about this subject</p>
          <p>Body paragraph and links to the hospital of the future and some other things that make sense to indicate here on the front page but secondary to the main action of the three new products</p>
          <a href="/t3/programme/training.html#hospital-of-the-future" class="btn btn-primary">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <img src="http://placehold.it/150x150" class="pull-right">
          <h3>Title of news article</h3>
          <p class="lead">Summary of the news article or up to date information</p>
          <a href="/t3/news-article.html" class="btn btn-primary">Link to article</a>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
          <img src="http://placehold.it/150x150" class="pull-right">
          <h3>Title of news article</h3>
          <p class="lead">Summary of the news article or up to date information</p>
          <a href="/t3/news-article.html" class="btn btn-primary">Link to article</a>
        </div>
      </div>
    </div>
  </div>
</section>