---
title: Welcome my Emissary
---

<section class="site-banner">
  <div class="container">
    <div class="row banner">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h1>This is a site banner - needs image</h1>
      </div>
    </div>
  </div>
</section>

<section class="quote-banner">
  <div class="container">
    <div class="row banner">
      <div class="col-md-6 col-md-offset-2">
          <h2>"Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit"</h2>
          <p class="lead">A name for the quote</p>
        </div>
        <div class="col-md-3">
          <%= image_tag 'z.png' %>
        </div>
    </div>
  </div>
</section>