---
title: "Name of Article - Transformation Through Technology"
---

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/t3/index.html">Home</a></li>
        <li><a href="/t3/news.html">News &amp; Events</a></li>
        <li class="active">Title of Article</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <article class="well">
          <p class="article-information">John Birch <span class="pull-right"><a href="#">Tag</a>, <a href="#">Tag</a>, <a href="#">Tag</a></span></p>
          <h2>Title of Article</h2>
          <p class="lead">Something something headline of the news article in question</p>
          <p>We are one of the first hospitals in the country to have a ‘Hospital of the Future’ innovation centre – an ideal environment for staff to come and try out our new technology. The Hospital of the Future is a fully equipped clinical environment which includes our planned clinical information systems, so staff can experience, influence and familiarise themselves with how our business will operate in the future.</p>
          <p>It is a showcase environment which recreates the patient pathway and demonstrates how technology will support the delivery of the three projects - EPR, EDMS and Clinical Portal. Staff are able to see how patient data flows through the system in practice and see the impact of interactions between care professionals and departments along the patient pathway. Some of our testing and staff training will also take place in our new Hospital of the Future.</p>
        </article>
        
        <div class="well">
          <p><a href="/t3/news.html" class="pull-right">Back to News &amp; Events</a></p>
        </div>
        
        <hr>
        <div class="well">
          <h2>You may also be interested in</h2>
          <ul class="list-unstyled">
            <li><a class="#">Link to article</a></li>
            <li><a class="#">Link to article</a></li>
            <li><a class="#">Link to article</a></li>
            <li><a class="#">Link to article</a></li>
          </ul>
        </div>
        
      </div>
      
      <div class="col-md-4" role="aside"> 
				<%= partial 'partials/contact' %>
        <%= partial 'partials/champion' %>
          
      </div>
      
    </div>
  </div>
</section>