---
title: "News - Transformation Through Technology"
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">News &amp; Events</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">News &amp; Events</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>News &amp; Events</h2>
          <p class="lead">Something something latest news from the transformation through technology project</p>
        </div>
      </div>
     
      
      
      <div class="col-md-4">
        <div class="well">
          <h3>Recent News</h3>
          <ul class="list-unstyled">
            <li><a href="#">Link to article</a></li>
            <li><a href="#">Link to article</a></li>
            <li><a href="#">Link to article</a></li>
            <li><a href="#">Link to article</a></li>
            <li><a href="#">Link to article</a></li>
          </ul>
        </div>
        
       <div class="well">
          <h3>Get in touch!</h3>
          <p>introduce the team and phone numbers</p>
        </div>
        
        <div class="well">
          <h3>On the lookout for Super Users</h3>
          <p class="lead">Would you be willing to be one of the first people to use our new technology?</p>
          <p>We’re searching for staff to be trained up as Super Users to help with the introduction of the new technology this year. Super Users will get special training to use the Clinical Portal, EPR and EDMS systems before everyone else. They will act as experts in their department to help others, if needed, when we go live.</p>
          <p>To find out more, please contact Kathryn Cox, training lead at <a href="mailto:Kathryn.cox@sth.nhs.uk">Kathryn.cox@sth.nhs.uk</a></p>
        </div>
        
        <div class="well">
          <h3>Further resources</h3>
          <p>Links, presentations, videos etc. here</p>
        </div>
      </div>
      
    </div>
  </div>
<section