---
title: "News - Transformation Through Technology"
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">News &amp; Events</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/t3/index.html">Home</a></li>
        <li class="active">News &amp; Events</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>News &amp; Events</h2>
          <p class="lead">Something something latest news from the transformation through technology project</p>
        </div>
        
        
        
        <article class="well">
          <a href="/t3/news/clinical-portal-set-to-go-live-this-autumn.html"><h2>Clinical Portal Set to Go Live this Autumn</h2></a>
          <p class="lead">Sheffield Teaching Hospitals appoint HP Enterprise Services UK to develop new clinical portal to go live in August 2015</p>
          <%= link_to 'Read more', '/news/clinical-portal-set-to-go-live-this-autumn.html', class: "btn btn-primary" %> 
         </article>
        
        

        
      </div>
     
      
      
      <div class="col-md-4">
        <div class="well">
          <h3>Recent News &amp; Events</h3>
          <ul class="list-unstyled">
            <li><%= link_to 'Clinical Portal Set to Go Live this Autumn', '/news/clinical-portal-set-to-go-live-this-autumn.html' %> </li>
            <li><a href="#">Link to article</a></li>
            <li><a href="#">Link to article</a></li>
            <li><a href="#">Link to article</a></li>
            <li><a href="#">Link to article</a></li>
          </ul>
        </div>
        
       <%= partial 'partials/contact' %>
        
       <%= partial 'partials/champion' %>
        
        <div class="well">
          <h3>Further resources</h3>
          <p>Links, presentations, videos etc. here</p>
        </div>
      </div>
      
    </div>
  </div>
</section>