---
title: Cookie Policy
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">Our Cookie and Privacy Policy</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', "/index.html" %></li>
        <li class="active">Cookie Policy</li>
      </ol>
    </div>
  </div>
</section>

<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12" role="main">
        <div class="well">  
          <h2>Cookie Policy</h2>
          <p>Like most websites, we use cookies and similar tools across our website to improve your experience and our website's performance. </p>
          <p>We do not use any cookies to track personally identifable information. All information gathered is anonymous</p>
          <p>Cookies are used to:</p>
          <ul>
            <li>Measure how you use the website so it can be updated and improved based on your needs</li>
            <li>Create reports so key stakeholders know what information was useful</li>
          </ul>
          <p>To find out more about Cookies, visit: <a href="www.allaboutcookies.org">www.allaboutcookies.org</a></p>
          
        </div>
      </div>
    </div>
  </div>
</section>