---
title: "About - Transformation Through Technology"
---

<section class="t3-heading">
  <div class="container">
    <div class="row">
      <header class="page-title">
        <h1 class="t3-font font-color-secondary">About the programme</h1>
      </header>
    </div>
  </div>
</section>

<section class="t3-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">About</li>
      </ol>
    </div>
  </div>
</section>


<section class="t3-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8" role="main">
        <div class="well">
          <h2>What’s changing?</h2>
          <p class="lead">Transformation Through Technology is a transformational change programme centred on improving patient care.</p>
          <p>As a Trust, we are investing £35 million over the next five years in this programme. Transformation Through Technology is significantly changing our working lives. With the help of new technology, in future we will have:</p>
          <ul>
            <li>Quicker admission and discharge to A&amp;E</li>
            <li>Better assessment and more informed treatment as casenotes always available</li>
            <li>Quicker inpatient admission through Advanced Bed Management</li>
            <li>Electronic alerts for allergies and safeguarding issues</li>
            <li>Clinic lists available electronically with patient casenote history</li>
            <li>Electronic prescribing</li>
            <li>More concise appointment letters</li>
            <li>Less repetition for the patient</li>
            <li>Quicker diagnosis as immediate patient history available</li>
            <li>Remote access to patient details</li>
            <li>Casenotes available immediately across all sites</li>
            <li>Electronic white boards on wards for quicker patient flow</li>
            <li>Overall view of patient details using a Clinical Portal</li>
            <li>Single Sign On so you view patient details on 19 different systems</li>
            <li>Multiple staff able to view casenotes at the same time</li>
          </ul>
          <p>It’s not just about upgrading technology, it’s about completely changing the way we work. This programme will give us the best technology and patient information so we can provide the best patient care. To make this a success, staff need to get involved and be aware of the changes</p>
        </div>
        
        <div class="well">
          <ul class="list-inline text-center">
            <li><a href="#">Training</a></li>
            <li><a href="#">News &amp; Events</a></li>
            <li><a href="#">Meet the team</a></li>
            <li><a href="#">Hospital of the future</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        
      </div>
      
      <div class="col-md-4" role="aside">
        
        <div class="well">
          <a href="#"><h3>Electronic Document Management System (EDMS)</h3></a>
          <p>Converting patient casenotes into an electronic format so that they can be viewed and managed on screen 24/7</p>
          <a href="#" class="btn btn-edms">Find out more</a>
        </div>
        
        <div class="well">
          <a href="#"><h3>Electronic Patient Record (EPR)</h3></a>
          <p>Recording of all patient information electronically on one system. Will
            enable information sharing, electronic prescribing and electronic clinic
            management</p>
          <a href="#" class="btn btn-epr">Find out more</a>
        </div>
        
        <div class="well">
          <a href="#"><h3>Clinical Portal (CP)</h3></a>
          <p>Linking up of all existing computer systems, meaning you only have to log
            in once to view all patient information systems on one screen. Enables
            secure sharing of patient information across the NHS.</p>
          <a href="#" class="btn btn-cp">Find out more</a>
        </div>
          
        
      </div> 
    </div>
  </div>
</section>

<section class="news-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <img src="http://placehold.it/150x150" class="pull-right">
          <h3>Title of news article</h3>
          <p class="lead">Summary of the news article or up to date information</p>
          <a class="btn btn-primary">Link to article</a>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="well">
          <img src="http://placehold.it/150x150" class="pull-right">
          <h3>Title of news article</h3>
          <p class="lead">Summary of the news article or up to date information</p>
          <a class="btn btn-primary">Link to article</a>
        </div>
      </div>
    </div>
  </div>
</section>